<h1>Sign up</h1>
<%# we post to the plural of whatever we're creating in this case a user action="/users" %>
<form class="" action="/users" method="post">	
	<label for="email">Name</label>
	<input type="text" name="name" />
	<label for="email">Email</label>
	<input type="text" name="email" />
	<label for="password">Password</label>
	<input type="password" name="password" />
	<input type="submit" value="Create User" />
</form>